{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="content">
    <section class="post_form">
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name" required /><br/>
            <textarea name="body" placeholder="Tell us anything" required></textarea><br/>
            <input type="submit" value="Post" />
        </form>
    </section>
    <hr/>
    <section class="posts">
        <ul>
            {% for post in posts %}
            <li>
                <img class="menu_icon js-menu-icon" src="{% static 'img/option.png' %}" />
                <div class="menu">
                    <a href="/delete/{{ post.id }}">Delete</a>
                </div>
                <div class="logo">
                    <img class="logos" src="{% static 'img/user_logo.webp' %}"/>
                </div>
                <div class="name_body">
                    <div class="name">{{ post.name }}</div><br/>
                    <div class="datetime">{{ post.created_at}}</div><br/>
                
                <p>{{ post.body}}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>
{% endblock %}